.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.gray {
  background-color: gray;
}

.medium-violet-red {
  background-color: mediumvioletred;
}

.midnight-blue {
  background-color: midnightblue;
}
